<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneHouse</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/detail.css">
</head>
<body>
    <div class="webpage">
        <div class="preview">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {{#each imagesData}}
                    {{#if @first}}
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{{this}}" alt="First slide">
                    </div>
                    {{else}}
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{this}}" alt="Slide">
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="content">
            <div class="post-details">
                {{#with postData}}
                <div class="title">
                    Chi tiết bài đăng
                </div>
                <div>
                    {{nl2br description}}
                </div>
                {{/with}}
                {{#if session.adminUser}}
                {{else}}
                <div style="display: flex; justify-content: space-between;">
                    <button class="contact-btn">
                        <a href="/phong-tro/payment-link" style="text-decoration: none; color: white;">Thanh toán online</a>
                    </button>
                    {{#if userData}}
                    <button class="contact-btn" id="open-popup-btn">Phản hồi</button>
                    {{/if}}
                </div>
                {{/if}}
                <div class="contact-frame">
                    {{#with ownerData}}
                    <div class="infor-frame">
                        <div class="title">
                            Thông tin người cho thuê
                        </div>
                        <div>
                            <span>Họ và tên:</span>
                            <span>{{name}}</span>
                        </div>
                        <div>
                            <span>Email:</span>
                            <span>{{email}}</span>
                        </div>
                        <div>
                            <span>Liên hệ:</span>
                            <span>{{phone}}</span>
                        </div>
                    </div>
                    {{/with}}
                </div>
                {{#if userData}}
                {{#if session.adminUser}}
                {{else}}
                <div>
                    <form method="post" action="">
                        <div class="rating-space">
                            <div class="rating">
                                <span class="star" data-value="5.0">&#9733;</span>
                                <span class="star" data-value="4.0">&#9733;</span>
                                <span class="star" data-value="3.0">&#9733;</span>
                                <span class="star" data-value="2.0">&#9733;</span>
                                <span class="star" data-value="1.0">&#9733;</span>
                            </div>
                            <div class="rating-value" id="rating-value" name="rating-value">Đánh giá của bạn: 0</div>
                            <input type="hidden" name="rating" id="rating-input" value="0">
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlTextarea1">Bình luận của bạn</label>
                          <textarea class="form-control" name="comment-value" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="rating-button-space">
                            <button class="contact-btn" type="submit">Gửi bình luận</button>
                        </div>
                    </form>
                </div>
                {{/if}}
                {{/if}}
            </div>
            <div class="sumaryRateComment">
                {{#with postData}}
                <div class="post-summary">
                    <div class="title">
                        Tóm tắt bài đăng
                    </div>
                    <div>
                        <span>Địa chỉ:</span>
                        <span>{{address}}</span>
                    </div>
                    <div>
                        <span>Giá thuê:</span>
                        <span>{{price}} triệu VND</span>
                    </div>
                    <div>
                        <span>Loại phòng:</span>
                        <span>{{type_house}}</span>
                    </div>
                    <div>
                        <span>Diện tích:</span>
                        <span>{{area}}m2</span>
                    </div>
                </div>
                {{/with}}
                <div class="service-container">
                    <div class="service-title">
                        Đánh giá & Bình luận
                    </div>
                    {{#if ratesData}}
                    <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center;">
                        <div class="rating-value" id="rate-reviewers">Đánh giá: {{ratesData.avg}}</div>
                        <div class="rating">
                            <span class="reviewers-star" data-value="5.0">&#9733;</span>
                            <span class="reviewers-star" data-value="4.0">&#9733;</span>
                            <span class="reviewers-star" data-value="3.0">&#9733;</span>
                            <span class="reviewers-star" data-value="2.0">&#9733;</span>
                            <span class="reviewers-star" data-value="1.0">&#9733;</span>
                        </div>
                    </div>
                    {{#each ratesData}}
                    <div class="alert alert-secondary" role="alert">
                        <div class="rattingComment">
                            <div class="ratting">
                                <span>{{this.username}}</span>
                                <span>Đánh giá: {{this.rate}}.0</span>
                                <span>{{this.comment}}</span>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <div class="alert alert-primary" role="alert">
                        Chưa có bình luận nào cho bài đăng này.
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div id="report-popup" class="popup">
            <div class="popup-content">
                <span class="close-btn">&times;</span>
                <form method="post" action="">
                    {{#with userData}}
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Họ và tên</label>
                        <input type="name" class="form-control" id="exampleFormControlInput1" value="{{name}}" placeholder="Nguyễn Văn A">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Số điện thoại</label>
                        <input type="phone" class="form-control" id="exampleFormControlInput1" value="{{phone}}" placeholder="0123 456 789">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Địa chỉ email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" value="{{email}}" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Phản hồi của bạn</label>
                      <textarea class="form-control" name="report-value" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button class="contact-btn" type="submit">Gửi phản hồi</button>
                    {{/with}}
                </form>
            </div>
        </div>
    </div>
    <script src="/script/detail.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>