<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThueTro88.com - Kênh thuê trọ uy tín hàng đầu Việt Nam</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/request.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <main class="table" id="request_table">
        <section class="table__header">
          <h1>Danh sách duyệt bài</h1>
        </section>
        <section class="table__body">
          <table>
            <thead>
              <tr>
                <th class="_id">ID Bài Viết</th>
                <th class="user-name">Tên tài khoản</th>
                <th class="membership">Thành viên</th>
                <th class="title">Tiêu đề</th>
                <th class="description">Mô tả</th>
                <th class="price">Giá</th>
                <th class="contact">Liên hệ</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each newPosts}}
              <tr>
                <td class="_id"><a href="/phong-tro/{{this.slug}}">{{this._id}}</a></td>
                <td class="user-name">{{this.username}}</td>
                <td class="membership">Basic</td>
                <td class="title">{{this.title}}</td>
                <td class="description">{{this.description}}</td>
                <td class="price">{{this.price}}</td>
                <td class="contact">0813374744</td>
                <td class="buttons">
                   <button class="Accept_button"  onclick="updatePostStatus('{{this._id}}', '1')"><a href="" style="text-decoration: none; color: white">Duyệt</a></button>
                   <button class="Reject_button" onclick="updatePostStatus('{{this._id}}', '0')"><a href="" style="text-decoration: none; color: white">Gỡ</a></button> 
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </section>
    </main>

</script>

</body>